body{
    text-align: center;
    background-color: aqua;
}
h1{

    font-family: Arial, Helvetica, sans-serif;
    color: red;
  
}

.square{

    width: 100px;
    height: 100px;
    background-color: gray;
    border: 1px solid black;
    display: inline-block;

   
}

.x{
    position: relative;
}
.x:after{
    position: absolute;
    content: "\274C";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.o{
    position: relative;
}
.o:after{
    position: absolute;
    content: "\2B55";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

button{

    font-size: 30px;
    padding: 10px;
    margin-top: 20px;
    background-color: red;
    color: aqua;
}

.stage{

    position: relative;
}